<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Height Stats App</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Collecting height</h1>
      <h3>Fill the entries to get population statistics about height</h3>
      <form action="{{url_for('success')}}" method="POST">
        <label>
          <input
            type="email"
            title="Email"
            placeholder="mail@address.com"
            name="email"
          />
        </label>
        <label>
          <input
            type="number"
            title="Data"
            name="height"
            placeholder="Height in cm"
            min="50"
            max="250"
            step="1"
          />
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
